body, html {
  margin: 0;
  padding: 0;
  font-size: 110% !important;
}

.tour-type {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 4rem;
  grid-row-gap: 2rem;
  margin-bottom: 2rem;
}

.tour-type label {
  background: #FBF0F5;
  box-shadow: 0px 1px 7px 4px #F9E1EC;
  border-radius: 10px;
  padding: .5rem 1rem;
}

.tour-type input[type="checkbox"] {
  height: 1rem;
  width: 1rem;
  appearance: none;
  border: 1px solid #FFD2F0;
  outline: none;
  transition-duration: 0.3s;
  cursor: pointer;

  border-radius: .4rem;
  background-color: white;
  margin-right: .5rem;
}

.tour-type input[type=checkbox]:checked {
  border: 1px solid #FFD2F0;
  background: #C27AA9;
}

.tour-length {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 4rem;
  margin-bottom: 2rem;
}

.tour-length label {
  background: #FBF0F5;
  box-shadow: 0px 1px 7px 4px #F9E1EC;
  border-radius: 10px;
  padding: 1rem;
}

.tour-length output {
  display: inline;
  font-size: 1rem;
}

.next {
  padding: 1rem;
  border-color: #F9E1EC;
  border-style: solid;
  background-color: white;
  border-radius: 10px;
  font-family: 'Playfair Display', serif;
  grid-column: 1;
  margin-top: 2rem;
}

.bike-anim {
  transition: ease 1s;
  position: fixed;
  right: -5rem;
  bottom: 1rem;
}

#transport-fahrrad:checked + .bike-anim {
  right: 1rem;
}

div.body {
  margin: 0;
  padding: 0;
  height: 100vh;
  /*width: 100vw;*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  font-family: Dosis;
  color: #614063;
}

.bg1 {
  background-image: url('panorama.svg');
}

.bg2 {
  background-image: url('panorama_blau.svg');
}

h1 {
  color: #000000;
  /* text-align:; */

  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 96px;
  margin-bottom: 46px;
  /*margin-top: 100px;*/

}
