body, html {
  margin: 0;
  padding: 0;
  font-size: 100% !important;
}

body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.tour-type {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 4rem;
  grid-row-gap: 1.5rem;
  margin-bottom: 2rem;
}

.tour-type label {
  background: #FBF0F5;
  box-shadow: 0px 1px 7px 4px #F9E1EC;
  border-radius: 10px;
  padding: .5rem 1rem;
}

.tour-type input[type="checkbox"] {
  height: 1rem;
  width: 1rem;
  appearance: none;
  border: 1px solid #FFD2F0;
  outline: none;
  transition-duration: 0.3s;
  cursor: pointer;

  border-radius: .4rem;
  background-color: white;
  margin-right: .5rem;
}

.tour-type input[type=checkbox]:checked {
  border: 1px solid #FFD2F0;
  background: #C27AA9;
}

.tour-length {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 4rem;
  margin-bottom: 2rem;
}

.tour-length label {
  background: #FBF0F5;
  box-shadow: 0px 1px 7px 4px #F9E1EC;
  border-radius: 10px;
  padding: 1rem;
}

.tour-length output {
  display: inline;
  font-size: 1rem;
}

.next {
  padding: 1rem;
  border-color: #F9E1EC;
  border-style: solid;
  background-color: white;
  border-radius: 10px;
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: 900;
  color: #614063;
  grid-column: 1;
  margin-top: 2rem;
}

.bike-anim {
  transition: ease 1s;
  position: fixed;
  right: -5rem;
  bottom: 1rem;
}

#transport-fahrrad:checked + .bike-anim {
  right: 11rem;
}

.tent-anim {
  transition: ease 1s;
  position: fixed;
  right: -10rem;
  bottom: 1rem;
}

#type-zelten:checked + .tent-anim {
  right: 15rem;
}

.hike-anim {
  transition: ease 1s;
  position: fixed;
  right: -4rem;
  bottom: 1rem;
}

#type-wandern:checked + .hike-anim {
  right: 25rem;
}


div.body {
  margin: 0;
  padding: 0;
  font-family: Dosis;
  color: #614063;
}

.packliste div.col {
  width: 100%;
  margin-right: 3rem;
}

.packliste div.col:last-child {
  margin-right: 0;
}

div.item {
  background: #FFFFFF;
  box-shadow: 0px 1px 7px 4px #D7E8F5;
  border-radius: 10px;
  padding: .3rem 0.5rem;
  margin: .5rem 0;
  position: relative;
}

.tour-type label.inline:nth-child(6) {
  grid-column: 1;
}

.tour-type label.inline:nth-child(7) {
  grid-column: 2;
}

.bg1 {
  background-image: url('panorama.svg');
}

.bg2 {
  background-image: url('panorama_blau.svg');
}

h1 {
  color: #000000;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 96px;
  padding-bottom: 5rem;
  padding-top: 3.5rem;
}

.packliste h1 {
  padding-top: 0;
  padding-bottom: 1rem;
}

.packliste input[type="checkbox"] {
  height: 1rem;
  width: 1rem;
  appearance: none;
  border: 1px solid #C7E0FB;
  outline: none;
  transition-duration: 0.3s;
  cursor: pointer;

  border-radius: .4rem;
  background-color: white;
  margin-right: .5rem;
}

.packliste input[type=checkbox]:checked {
  border: 1px solid #4FC3DC;
  background: #FFFFFF;
}

.packliste input:checked::before {
  content: '\2713';
  display: block;
  text-align: center;
  color: #4FC3DC;
  position: absolute;
  left: 0.65rem;
  top: 0.3rem;
  font-weight: bold;
}
