{% extends "base.html" %}
{% block content %}
{{super()}}
<section class="contact-form">
  <h1>Ab in die Natur</h1>

  <form>
    <div class="input-group">
      <input id="salutation-mr" name="salutation" type="checkbox" value="Fahrrad."/>
      <label class="inline" for="salutation-mr">Fahrrad</label>

      <input id="salutation-mrs" name="salutation" type="checkbox" value="Camper."/>
      <label class="inline" for="salutation-mrs">Camper</label>

      <input id="salutation-ms" name="salutation" type="checkbox" value="Auto"/>
      <label class="inline" for="salutation-ms">Auto</label>
    </div>

<div class="input-group">
      <input id="salutation-mr" name="salutation" type="checkbox" value="Wandern."/>
      <label class="inline" for="salutation-mr">Wandern</label>

      <input id="salutation-mrs" name="salutation" type="checkbox" value="Zelten."/>
      <label class="inline" for="salutation-mrs">Zelten</label>
    </div>


    <div class="input-group">
      <label for="name">Tage</label>
      <input id="name" name="name" type="range" value="3" min="1" max="14"/>
      <output id="output" for="name"></output>

      <input id="salutation-mr" name="salutation" type="checkbox" value="Ultralight."/>
      <label class="inline" for="salutation-mr">Ultralight</label>

      <input id="salutation-mrs" name="salutation" type="checkbox" value="Glamping."/>
      <label class="inline" for="salutation-mrs">Glamping</label>

    </div>

    <input name="secret" type="hidden" value="1b3a9374-1a8e-434e-90ab-21aa7b9b80e7"/>
    <button type="submit">weiter</button>
  </form>
</section>

{% endblock %}
