{% extends "base.html" %}
{% block content %}
{{super()}}
<div id="bg" class="body bg1">


<section id="content" class="contact-form">
  <h1>Ab in die Natur</h1>

  <form>
    <div class="tour-type">
      <label class="inline" for="transport-fahrrad">
        <input id="transport-fahrrad" name="fahrrad" type="checkbox" value="Fahrrad."/>
        <span class="bike-anim">
          <img src="/static/noun_Bike_4279555.svg" style="width: 5rem">
        </span>
        Fahrrad
      </label>

      <label class="inline" for="transport-camper">
        <input id="transport-camper" name="camper" type="checkbox" value="Camper."/>
        Camper
      </label>

      <label class="inline" for="transport-auto">
        <input id="transport-auto" name="auto" type="checkbox" value="Auto"/>
        Auto
      </label>

      <label class="inline" for="type-wandern">
        <input id="type-wandern" name="wandern" type="checkbox" value="Wandern."/>
        <span class="hike-anim">
          <img src="/static/hike.svg" style="width: 2.5rem">
        </span>
        Wandern
      </label>

      <label class="inline" for="type-zelten">
        <input id="type-zelten" name="zelten" type="checkbox" value="Zelten."/>
        <span class="tent-anim">
          <img src="/static/Tent.svg" style="width: 10rem">
        </span>
        Zelten
      </label>

      <label class="inline" for="art-ultralight">
        <input id="art-ultralight" name="ultralight" type="checkbox" value="Ultralight."/>
        Ultralight
      </label>

      <label class="inline" for="art-glamping">
        <input id="art-glamping" name="glamping" type="checkbox" value="Glamping."/>
        Glamping
      </label>
    </div>

    <div class="tour-length">
      <label>
        <output id="output"></output>
        Tag(e)
        <input id="slider" name="tage" type="range" value="3" min="1" max="14"/>
      </label>

      <button type="submit" class="next">Weiter</button>
    </div>

    <input name="secret" type="hidden" value="1b3a9374-1a8e-434e-90ab-21aa7b9b80e7"/>
  </form>
</section>
</div>
{% endblock %}
