{% extends "base.html" %}
{% block content %}
{{super()}}
<div id="bg" class="body bg1">


<section id="content" class="contact-form">
  <h1>Ab in die Natur</h1>

  <form>
    <div class="input-group">
      <input id="transport-fahrrad" name="fahrrad" type="checkbox" value="Fahrrad."/>
      <label class="inline" for="transport-fahrrad">Fahrrad</label>

      <input id="transport-camper" name="camper" type="checkbox" value="Camper."/>
      <label class="inline" for="transport-camper">Camper</label>

      <input id="transport-auto" name="auto" type="checkbox" value="Auto"/>
      <label class="inline" for="transport-auto">Auto</label>
    </div>

  <div class="input-group">
      <input id="type-wandern" name="wandern" type="checkbox" value="Wandern."/>
      <label class="inline" for="type-wandern">Wandern</label>

      <input id="type-zelten" name="zelten" type="checkbox" value="Zelten."/>
      <label class="inline" for="type-zelten">Zelten</label>
    </div>

      <div class="input-group">
      <label for="name">Tage</label>
      <input id="slider" name="tage" type="range" value="3" min="1" max="14"/>
      <output id="output" for="name"></output>
    </div>


    <div class="input-group">
      <input id="art-ultralight" name="ultralight" type="checkbox" value="Ultralight."/>
      <label class="inline" for="art-ultralight">Ultralight</label>

      <input id="art-glamping" name="glamping" type="checkbox" value="Glamping."/>
      <label class="inline" for="art-glamping">Glamping</label>
    </div>

    <input name="secret" type="hidden" value="1b3a9374-1a8e-434e-90ab-21aa7b9b80e7"/>
    <button type="submit">Send It!</button>
  </form>
</section>
</div>
{% endblock %}
