<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>test</title>



    <!-- Bootstrap core CSS -->
<link href="bootstrap.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>


    <!-- Custom styles for this template -->
    <link href="stylesheet.css" rel="stylesheet">
  </head>
  <body>
<h1>Packliste</h1>
<div>

    <div class="container pt-3">
    <div class="row flex-row flex-sm-nowrap py-3">
        <div class="col-sm-4 col-md-4 col-xl-3">
            <div class="card bg-white">
                <div class="card-body">
                    <h6 class="card-title py-2">Infrastruktur</h6>
                    <div class="items border border-white">
                        <div class="card shadow-sm ">
                            <div class="card-body p-2">
                                <p>
                                    <input class="form-check-input flex-shrink-0" type="checkbox" value="" checked>
                                    Isomatte
                                </p>
                            </div>
                        </div>

                      <div class="dropzone rounded"> &nbsp;
                      </div>

                        <div class="card draggable shadow-sm">
                            <div class="card-body p-2">
                                <p>
                                    <input class="form-check-input flex-shrink-0" type="checkbox" value="" checked>
                                    Zelt
                                </p>
                            </div>
                        </div>
                        <div class="dropzone rounded" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)"> &nbsp;
                        </div>

                        <div class="card draggable shadow-sm" id="cd3" draggable="true" ondragstart="drag(event)">
                            <div class="card-body p-2">
                                <div class="card-title">
                                </div>
                                <p>
                                  <input class="form-check-input flex-shrink-0" type="checkbox" value="" checked>
                                  Schlafsack
                                </p>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-xl-3">
            <div class="card bg-light">
                <div class="card-body">
                    <h6 class="card-title  text-truncate py-2">In-progess</h6>
                    <div class="items border border-light">
                        <div class="card draggable shadow-sm" id="cd1" draggable="true" ondragstart="drag(event)">
                            <div class="card-body p-2">
                                <div class="card-title">
                                    <img src="//via.placeholder.com/30" class="rounded-circle float-right">
                                    <a href="" class="lead font-weight-light">TSK-152</a>
                                </div>
                                <p>
                                    This is a task that is being worked on.
                                </p>
                                <button class="btn btn-primary btn-sm">View</button>
                            </div>
                        </div>
                        <div class="dropzone rounded" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)"> &nbsp; </div>
                        <div class="card draggable shadow-sm" id="cd2" draggable="true" ondragstart="drag(event)">
                            <div class="card-body p-2">
                                <div class="card-title">
                                    <img src="//via.placeholder.com/30" class="rounded-circle float-right">
                                    <a href="" class="lead font-weight-light">TSK-153</a>
                                </div>
                                <p>
                                    Another task here that is in progress.
                                </p>
                                <button class="btn btn-primary btn-sm">View</button>
                            </div>
                        </div>
                        <div class="dropzone rounded" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)"> &nbsp; </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-xl-3">
            <div class="card bg-light">
                <div class="card-body">
                    <h6 class="card-title text-truncate py-2">Review</h6>
                    <div class="items border border-light">
                        <div class="card draggable shadow-sm" id="cd9" draggable="true" ondragstart="drag(event)">
                            <div class="card-body p-2">
                                <div class="card-title">
                                    <img src="//via.placeholder.com/30" class="rounded-circle float-right">
                                    <a href="" class="lead font-weight-light">TSK-158</a>
                                </div>
                                <p>
                                    This is a description of a item on the board.
                                </p>
                                <button class="btn btn-primary btn-sm">View</button>
                            </div>
                        </div>
                        <div class="dropzone rounded" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)"> &nbsp; </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-xl-3">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title text-truncate py-2">Complete</h6>
                    <div class="items border border-light">
                        <div class="card draggable shadow-sm" id="cd11" draggable="true" ondragstart="drag(event)">
                            <div class="card-body p-2">
                                <div class="card-title">
                                    <img src="//via.placeholder.com/30" class="rounded-circle float-right">
                                    <a href="" class="lead font-weight-light">TSK-144</a>
                                </div>
                                <p>
                                    This is a description of an item.
                                </p>
                                <button class="btn btn-primary btn-sm">View</button>
                            </div>
                        </div>
                        <div class="dropzone rounded" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)"> &nbsp; </div>
                        <div class="card draggable shadow-sm" id="cd12" draggable="true" ondragstart="drag(event)">
                            <div class="card-body p-2">
                                <div class="card-title">
                                    <img src="//via.placeholder.com/30" class="rounded-circle float-right">
                                    <a href="" class="lead font-weight-light">TSK-146</a>
                                </div>
                                <p>
                                    This is a description of a task item.
                                </p>
                                <button class="btn btn-primary btn-sm">View</button>
                            </div>
                        </div>
                        <div class="dropzone rounded" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)"> &nbsp; </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</<body>

</body>
