<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>test</title>



    <!-- Bootstrap core CSS -->
<link href="bootstrap.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>


    <!-- Custom styles for this template -->
    <link href="stylesheet.css" rel="stylesheet">
  </head>
  <body>

<h1>Ab in die Natur</h1>

    <div class="b-example-divider"></div>

        <div class="d-flex gap-5 justify-content-center">
          <div class="list-group mx-0">
            <label class="list-group-item d-flex gap-2">
              <input class="form-check-input flex-shrink-0" type="radio" name="listGroupRadios" id="listGroupRadios1" value="" checked>
              <span>
                Fahrrad
              </span>
            </label>
         </div>

         <div class="d-flex gap-5 justify-content-center">
           <div class="list-group mx-0">
             <label class="list-group-item d-flex gap-2">
               <input class="form-check-input flex-shrink-0" type="radio" name="listGroupRadios" id="listGroupRadios1" value="" checked>
               <span>
                 Camper
               </span>
             </label>
          </div>

          <div class="d-flex gap-5 justify-content-center">
            <div class="list-group mx-0">
              <label class="list-group-item d-flex gap-2">
                <input class="form-check-input flex-shrink-0" type="radio" name="listGroupRadios" id="listGroupRadios1" value="" checked>
                <span>
                  Auto
                </span>
              </label>
           </div>


    </div>

    <div class="b-example-divider"></div>
